
.dash{
    padding: 3% 5%;
    
}

.dash .seus{
    margin-bottom: 20px;
    color: #008080;
}

.categories{
  
    display: flex;
    gap: 5px;
    padding: 0 7% 0 5%;
    text-align: center;
    width: 100%;
    margin: 5px 0;
}

.categories .Ti{
   
    border-radius: 5px;
    background-color: #008080;
    color: white;
    font-weight: 100;
    
}


.seusLivros{
    border-bottom: 2px solid;
    border-left: 2px solid;
    border-right: 2px solid;
    border-color: gray;
    display: grid;
    grid-template-columns: 1fr; /* 3 colunas: fixa, fixa, flexível */
    grid-auto-rows: 80px;
    gap: 10px;
    padding: 2% 5%;
    overflow-y: auto;
    height: 430px;
    border-radius: 0px 8px 8px 8px;
    background-color: white;
    margin-top: 5px;
}

.seusLivros::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}
.seusLivros .conteudo{
   border-bottom: 1px solid gray;
   display: flex;
   align-items: center;
   width: 100%;
   padding: 5px;
   gap: 5px;
   text-align: center;
   font-size: 1.3rem;
}

.seusLivros .conteudo .bookImg{
    height: 100%;
    width: 5%;
    border-right: solid 3px gray;
    padding: 2px;
}

.bookImg img{
    width: 100%;
    height: 100%;
}

.seusLivros .conteudo .botao{
    height: 100%;
    display: flex;
    align-items: center ;
    width: 5%;
    justify-content: center;
}

.conteudo p{
    width: 30%;
    
}

.conteudo .ano{
    width: 15%;
}

.conteudo .genero{
    width: 15%;
}

.contB{
    display: flex;
  
}


.abas{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.abas-menu{
    display: flex;
    align-items: center;
    justify-content: flex-start;

}

.abas-menu .aba-link{
    padding: 8px 20px;
    border-radius: 10px 10px 0 0px;
    font-size: 0.8rem;
    border-top: 2px solid gray;
    border-left: 2px solid gray;
    border-right: 2px solid gray;
    border-bottom: none;
    text-transform: uppercase;
    font-weight: 700;
}

.container2{
   padding: 0 2%;
   width: 85%;
}

.tabGroup{
    border: 2px solid gray;
    width: 100%;
    border-radius: 0 10px 10px 10px ;
    background-color: white;
    -webkit-box-shadow: -7px 5px 10px 5px rgba(0,0,0,0.23); 
    box-shadow: -7px 5px 10px 5px rgba(0,0,0,0.23);
}