 body {
    margin: 0;
    padding: 0;
    overflow-y: hidden;
    
}

main{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100dvh;
}

.banner p, h1, h2{
    margin: 0;
}

.banner {
    display: block;
    width: 37%;
    height: 100%;
    background-image: url('../../assets/img/bannerLogin.jpg');
    background-size: cover;     
    background-position: center;
    background-repeat: no-repeat;
    background-color: #333;
    font-family: sans-serif;
   
   
}

.window {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 63%;
    height: 100%;
    background-image: url(../img/FundoBody.png);
}

.create {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20%;
}

form div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form label {
    width: 100%;
    text-align: start;
}

.Login {
    border: #33333386 solid 4px;
    display: flex;
    padding: 3% 7% 3% 7%;
    align-items: center;
    font-family: sans-serif;
    border-radius: 30px;
   -webkit-box-shadow: -7px 5px 10px 5px rgba(0,0,0,0.23); 
    box-shadow: -7px 5px 10px 5px rgba(0,0,0,0.23);
    background-color: white;
}

.Login div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.Login img{
    height: auto;
    width: 140px;
   
}

.Login div h3{
    font-size: 1.6rem;
    color: #008080;
}


.Login div p{
    margin-top: -1.2rem;
    font-size: 1.2rem;
    color: #008080;
}

.Login div a{
    color: #008080;
}



.Login div form{
    gap: 2rem;
}


.Login div form .field input{
    padding: 14px 30px;
    border-radius: 20px;
    font-size: 1rem;
    color: gray;
}


.btn{
    border: solid;
    padding: 12px   ;
    width: 100%;
    background-color: #00b7aeb6;
    border: none;
    border-radius: 20px;
    font-size: 1rem;
    color: white;
    font-weight: 700;
}

.errors{
   margin: 10px;
   color: #008080;
    
}

.banner .imgBanner{
   
    height: 65%;
    width: 100%;
    
}

.imgBanner img{
    height: 100%;
        
}

.textBanner{
    height: 25%;
    text-align: end;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 5%;
    gap: 10px;
}

.textBanner h1{
    font-size: 3.2rem;
    color: white;
}

.textBanner h2{
    color: rgb(255, 255, 255);
    font-weight: 100;
}

.textBanner p{
    font-size: 1.3rem;
    color:  rgb(255, 255, 255);
}

.fraseBanner{
    height: 10%;
    text-align: end;
    padding: 2% 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.fraseBanner p{
    font-size: 1.4rem;
    color: white;
}

.fraseBanner p span{
    font-style: italic;
    font-size: 1.7rem;
}

.fraseBanner a{
    margin-top: 10px;
}

.fraseBanner a img{
    height: 45px;
}


